name: Build & Publish Release

on:
  push:
    tags:
      - '*'

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      # Build the APK
      - name: Build Debug APK
        run: ./gradlew assembleDebug

      # Rename APK
      - name: Rename APK
        run: mv app/build/outputs/apk/debug/app-debug.apk app/build/outputs/apk/debug/AniFloat-${{ github.ref_name }}.apk

      # Create the Release in GitHub
      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          name: Release ${{ github.ref_name }}
          files: app/build/outputs/apk/debug/AniFloat-${{ github.ref_name }}.apk
          generate_release_notes: true
          make_latest: true
